* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

.header__container__title {
    padding: 12px 12px 24px 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    background-color: var(--identity-primary, #dc0a2d);
}

.header__logo__title {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.header__logo {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
    }

.header__title {
    color: #ffffff;
    text-align: left;
    font-family: var(--header-title-font-family);
    font-size: var(--header-title-font-size);
    line-height: var(--header-title-line-height);
    font-weight: var(--header-title-font-weight);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header__filters {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

#filters__icon__search__bar {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    position: relative;
    overflow: visible;
}

.filters__search__bar {
    background: #ffffff;
    border-radius: 16px;
    padding: 8px 16px 8px 12px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    position: relative;
    box-shadow: var(--inner-shadow-header-search);
    overflow: hidden;
}

#filters__input {
    border: 0px;
    color: #999999;
    text-align: left;
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.filters__button {
    background: var(--neutral-white, #ffffff);
    border: 0px;
    border-radius: 16px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    box-shadow: var(--inner-shadow-header-search);
    overflow: hidden;
    font-size: 16px;
    line-height: 16px;
    }

    #filters__bar {
        flex-shrink: 0;
        width: 16px;
        height: 16px;
        position: relative;
        overflow: visible;
    }

    .main__container {
        background-color: var(--neutral-white);
        border-radius: var(--po-border-radius-sm);
        padding: var(--po-outter-spacing-lg);
        width: 100%;
        flex-grow: 1;
    }

    .pokemon__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(125px,1fr));
        gap: var(--po-outter-spacing-xs);
        justify-content: center;
        align-items: center;
    }

    .pokemon__item {
        position: relative;
        max-width: 125px;
        width: 100%;
    }

    .pokemon__item::after {
        border-radius: var(--po-border-radius-sm);
        width: 100%;
        height: 40%;
        background-color: var(--neutral-gray-100);
        position: absolute;
        content: "";
        bottom: 0;
    }

    .pokemon__card {
        padding: var(--po-border-radius-sm);
        box-shadow: var(--drop-shadow-card);
        border-radius: var(--po-border-radius-sm);
        gap: var(--po-outter-spacing-xs);
        display: flex;
        flex-direction: column;
        align-items: center;
        aspect-ratio: 1/1;
        z-index: 1;
        position: inherit;
    }

    .pokemon__id  {
        color: var(--neutral-gray-600);
        width: 100%;
        text-align: right;
        font-family: var(--card-serie-number-font-family);
        font-size: var(--card-serie-number-font-size);
        line-height: var(--card-serie-number-line-height);
        font-weight: var(--card-serie-number-font-weight);
        position: relative;
        align-items: end;
        justify-content: flex-end; 
        padding: 4px 8px 0px 8px;
    }

    .pokemon__name {
        color: var(--neutal-gray-900);
        text-align: center;
        font-family: var(--card-pokemon-name-font-family);
        font-size: var(--card-pokemon-name-font-size);
        line-height: var(--card-pokemon-name-line-height);
        font-weight: var(--card-pokemon-name-font-weight);
        position: relative; 
        bottom: 0; 
        width: 100%;
        padding: 4px 8px 4px 8px;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }