* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

.header__container__title {
    padding: 12px 12px 24px 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    background-color: var(--identity-primary, #dc0a2d);
}

.header__logo__title {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.header__logo {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
    }

.header__title {
    color: #ffffff;
    text-align: left;
    font-family: var(--header-title-font-family);
    font-size: var(--header-title-font-size);
    line-height: var(--header-title-line-height);
    font-weight: var(--header-title-font-weight);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header__filters {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

#filters__icon__search__bar {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    position: relative;
    overflow: visible;
}

.filters__search__bar {
    background: #ffffff;
    border-radius: 16px;
    padding: 8px 16px 8px 12px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    position: relative;
    box-shadow: var(--inner-shadow-header-search);
    overflow: hidden;
}

.filters__input {
    border: 0px;
    color: #666666;
    text-align: left;
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 10px;
    line-height: 16px;
    font-weight: 400;
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.filters__button {
    background: var(--neutral-white, #ffffff);
    border: 0px;
    border-radius: 16px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    box-shadow: var(--inner-shadow-header-search);
    overflow: hidden;
    font-size: 16px;
    line-height: 16px;
    }

    #filters__bar {
        flex-shrink: 0;
        width: 16px;
        height: 16px;
        position: relative;
        overflow: visible;
    }

    .grid__container__card__pokemon {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-auto-rows: 1fr;
        gap: 10px; 
        margin: 16px;
    }

    .grid__card__pokemon {
        background: var(--neutral-white, #ffffff);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        position: relative;
        box-shadow: var(--drop-shadow-card);
        overflow: hidden;
        aspect-ratio: 1 / 1; 
        }

    .card__pokemon_image { 
        position: relative;
        width: auto;
        height: auto;
        align-items: center;
        justify-content: center;
        object-fit: contain;
        z-index: 9999;
        aspect-ratio: 4/3;
    }

    .card__serie__number {
        color: var(--neutral-gray-600);
        text-align: right; /* Alinea el texto a la derecha */
        font-family: var(--card-serie-number-font-family);
        font-size: var(--card-serie-number-font-size);
        line-height: var(--card-serie-number-line-height);
        font-weight: var(--card-serie-number-font-weight);
        position: relative;
        align-items: center;
        justify-content: flex-end; 
        padding: 4px 8px 0px 8px;
      
    }

    .card__pokemon__name {
        background-color: var(--neutral-gray-100);
        color: var(--neutal-gray-900);
        text-align: center;
        font-family: var(--card-pokemon-name-font-family);
        font-size: var(--card-pokemon-name-font-size);
        line-height: var(--card-pokemon-name-line-height);
        font-weight: var(--card-pokemon-name-font-weight);
        position: absolute; /* Cambiado a absolute */
        bottom: 0; /* Posicionado al fondo del contenedor padre */
        width: 100%;
        padding: 24px 8px 4px 8px;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        }

        @media (max-width: 1500px) {
            .grid__container__card__pokemon {
                grid-template-columns: repeat(5, 1fr); }
        }
        
        /* Media query para pantallas pequeñas */
        @media (max-width: 800px) {
            .grid__container__card__pokemon {
                grid-template-columns: repeat(3, 1fr); }
            }